# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
/backend/.env

# Build outputs (Vite, React, etc.)
dist/
build/
.vite/
.vscode/

# OS / IDE junk
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary
*.tmp